<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <style type="text/css">

  .navbar-brand{
    padding-bottom: 50px;
  }

  .kamayanBG{
    background:url('public/images/nav-background2.jpg');  
    background-repeat: no-repeat; 
    background-position: right top; 
    background-attachment: fixed;
  }
</style>
</head>
<body class="kamayanBG">
  <div class="container" style="background-color:rgba(255, 255, 255, 0.8)">
    <div class="row">
      <% include templates/navbar.ejs%>
      <% include templates/navbar-second.ejs%>
      <% include templates/banner-carousel.ejs%>
      <div>
        <div class="col-sm-12">
          <% include templates/sidebar-social.ejs%>
          <% include templates/description.ejs%>
        </div>
      </div> 
    </div>
    <br>
    <div class="row" id="map" style="height: 300px"></div>
    <div>
      <div class="row">
      <% include templates/footer.ejs%>
      </div>
    </div>
    
    <script>
      function initMap() {
        var uluru = {lat: 14.0616, lng: 121.5721};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmYO1nfXEKwBDkGBSOr-bpqyKvOFRR2N4&callback=initMap">
    </script>

  </div>
  <div class="container">
  
  </div>

</body>
</html>
