<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <style type="text/css">

  .navbar-brand{
    padding-bottom: 50px;
  }
 
  .container-text{
    margin: 10px;
  }
  .container-image{
    float: left;
    margin-right: 10px;
    width: 200px;
    padding: 5px;
  }
  .rightcol {
   overflow-y: scroll;
   height: 1200px;
  }

  .kamayanBG{
    background:url('/public/images/nav-background2.jpg'); 
    background-repeat: no-repeat; 
    background-position: right top; 
    background-attachment: fixed;  
    
  }

</style>
</head>
<body class="kamayanBG">
  <div class="container" style="background-color:rgba(255, 255, 255, 0.8)">
    <div class="row">
      <% include templates/navbar.ejs%>
      <% include templates/navbar-second.ejs%>
      <% include templates/banner-carousel.ejs%>
      <div>
        <div class="col-md-12">
          <% include templates/sidebar-social.ejs%>
          <br>

          <div class="col-md-8 rightcol">
            <div class="jumbotron" style="background-color: rgba(255,255,255,0.50);">
              <h2><strong>About Our Menu</strong></h2>
              <div class="container-image"> <img src="/public/images/menubanner.jpg" class="img-thumbnail img-responsive" width="250" /></div>
              <div class="container-text"><p style="font-size: 15px; text-align: justify;">The menu consists mostly of fish, since Tayabas is known for their light and delectable seafood compared to Lucban's meat fest. Big winners are the Inihaw na Pla-Pla (also known as tilapia), and the inihaw na Hito. All his cooks are native chefs, so one can expect an authentic taste of Tayabas in their dishes. Other dishes, worthy of praise are the Inihaw na Spare Ribs, Squid in Oyster Sauce, and their own version of Salpicao (mixed vegatable & seafoods).
                <br><br>

                Native designed function rooms for Cocktail parties, Conference, Wedding, Birthday and other Private Occasions. Formal and informal dining with lush appurtenances and grand artistically rendered interior furnishing and decor. When enjoying a banquet the surroundings and ambiance of the place transports one to the heady confines of the sophisticate and formal good graces inclined. </p> </div>

                <div class="text-right">
                  <br>
                  <button type="button" class="btn btn-default">
                    Check out our menu packages&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
                  </button>
                </div>
              </div>

              <form role="search">
                <div class="input-group">
                  <input type="search" class="form-control" placeholder="Search Our Menu" name="search" ng-model="search">
                  <span class="input-group-addon" style="background-color:#c7d8c3; border:none;">
                    <i class="glyphicon glyphicon-search" style="color:white; width:20px"></i>
                  </span>
                </div>
              </form>
               <br>
              <!-- Temporary Table Since aggregate is not yet working-->
              <% include templates/menu-table-temp.ejs %>
         </div>
       </div>   
     </div> 
   </div>
   <br>
   <div>
     <div class="row">
     <% include templates/footer2.ejs%>
     </div>
   </div>
 </div>
</body>
</html>
