 <div class="col-sm-8" style="padding-top:30px;">  
  <h1> Dining at Kamayan Sa Palaisdaan</h1>
  <ul class="list-group">
    <li class="list-group-item">
      <p><p><span style="line-height: 15.8079996109009px;">Located in Tayabas, Quezon, </span><b style="line-height: 15.8079996109009px;">KAMAYAN SA PALAISDAAN </b><span style="line-height: 15.8079996109009px;">is an ideal getaway restaurant for seafood lovers. The restaurant is a little hard to find - save for a sign that is lit up</span></p>
      <p style="line-height: 15.8079996109009px; text-align: justify;">in neon lights at night - but has a charming feel to it, with quaint nipa huts propped above a huge pond. Equally charming are the restaurant's owners, Rosauro de los Santos and his wife, Evangeline who started this business 18 years ago. Ross (as he preferred to be called) was really into fish since he was a kid so he decided to set up a fish pond. Customers afterwards came to buy fresh tilapia from the fishpond, not a long time passed when customers would ask him to also cook the fish he sells. That's how he started. </p>
      <p style="line-height: 15.8079996109009px; text-align: justify;">However, Kamayan sa Palaisdaan should not be confused with another well known restaurant of the same name - the original Palaisdaan Restaurant. Though only about half a mile apart, his family also actually owns the latter. He worked there for four years, before putting up his own business. In April 1992, he set up his own version of the family business for a reason that he wanted to make a living for him and to help the people around the neighborhood by giving them jobs. The pond took eight months to construct and the restaurant now has 56 bamboo huts plus two halls that can host 1,700 people.</p>
      <img src="/public/images/palaisdaan.jpg" class="img-thumbnail img-responsive"  /></p>
    </li>
  </ul>

  <div id="menus">
    <legend>Try Out Our <b>Best Sellers</b> or view <a href ="#">Kamayan Sa Palaisdaan Menu</a></legend>
    <div class="col-md-6"><h4 class="menu-style">SINUGNO</h4>
      Sinugno is a healthy and flavorful Filipino fish dish. The grilled tilapia gives a smoky flavor that balances out the creaminess of the coconut milk with Mustard leaves (mustasa leaves)
    </div>

    <div class="col-md-6"><h4 class="menu-style">GINATAANG SUSO WITH PAKO</h4>
      Ginataang suso (snail with coconut milk) is an exotic dish yet one of the best sellers of Kamayan sa Palaisdaan that you will find surprisingly delicious. Snails cooked in coconut milk with fern that you will enjoy the richness flavor together.
    </div>

    <div class="col-md-6"><h4 class="menu-style">SINIGANG NA SUGPO</h4>
      Sinigang na Hipon is a Filipino sour soup dish, with shrimp as the main ingredient and vegetables in boiling water.
    </div>

    <div class="col-md-6"><h4 class="menu-style">SIZZLING SALPICAO</h4>
      Beef Salpicao is a dish composed of cubed beef sirloin or tenderloin, seafood, red and green bell pepper, Worcestershire sauce, olive oil, and some liquid seasoning.
    </div>

    <div class="col-md-6"><h4 class="menu-style">INIHAW NA PORKCHOP</h4>
      Inihaw na Pork Chop is translated in Filipino as grilled pork chop. Perfectly sliced pork chops with skin and fat on are marinated in soy sauce and lemon juice mixture along with some spices to achieve a delicious flavor that appeals to the Filipino taste buds.
    </div>

    <div class="col-md-6"><h4 class="menu-style">BINALOT NA SEAFOODS</h4>
     Different kinds of seafood (Squid, Crab, Tilapia, and Shrimp) wrapped in banana leaves.
   </div>

   <div class="col-md-6"><h4 class="menu-style">ENSELADANG PAKO</h4>
     Native Filipino Salad with main ingredient of freshly picked fern serve with tomatoes and salted egg.
   </div>

 </div>
</div>