<div class="container-fluid" style="background-color:rgb(91, 99, 86); padding-top: 20px; padding-bottom: 20px;">
	<footer >
		<div class="container">
			<div class="row text-center"  style="color: white;">
				<div class="col-md-12 col-sm-12">
					Copyright © 1996-2017 Kamayan Sa Palaisdaan, All rights reserved. Prices are subject to change without prior notice.
				</div>
			</div>
		</div>
	</footer>
</div>