<style type="text/css">
	.nav-info-link {
		padding-top: 20px;
		font-style: calibri;
		font-size: 16px;
	}
</style>

<!-- Navigation Bar -->
<nav class="navbar navbar-default" style="background-color: rgba(60, 147, 108, 0.50);">
	<div class="container-fluid">
			<!-- Navigation Header -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-toggle" style="margin-top: 25px; margin-bottom: 25px;">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand">
					<img src ="/public/images/kamayanLogo.png" class="img-responsive" width="30%">
				</a> 
			</div>
			<!-- /Navigation Header -->

			<!-- Navigation Collapse -->
			<div class="collapse navbar-collapse" id="navigation-toggle">
				<ul class="nav navbar-nav navbar-right nav-info-link">
					<li><a href="/">Home |</a></li>
					<li><a href="/About">About Us |</a></li>
					<li><a href="/menu/list">Menu & Reservations|</a></li>
					<li><a href="#">Location/Contact Us |</a></li>
					<li><a href="#">Galleries |</a></li>
				</ul>
			</div>
			<!-- /Navigation Collapse -->
	</div>
</nav>
<!-- /Navigation Bar -->