    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="row"> 
            <!-- Navigation Header -->
            <div class="navbar-header navbar-right container-fluid">
              <ul class="nav navbar-nav">
                <li><a href="#">CALL US NOW (042) 793-3654  |</a></li>
                <li>
                  <form class="navbar-form navbar-left" role="search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for products, menu">
                      <span class="input-group-addon" style="background-color:#d40b0b; border:none;">
                        <i class="glyphicon glyphicon-search" style="color:white; width:30px"></i>
                      </span>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>